.section-title_theme_dark {
  color: white;
  z-index: 10;
  margin: 0;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 10;
  margin: 0;
}

.table_theme_dark {
  z-index: 10;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
  z-index: 10;
}

.table__heading_theme_dark {
  z-index: 10;
}

.table__text_theme_dark {
  z-index: 10;
}
