@import url(__iframes/video__iframes.css);
@import url(__iframe/video__iframe.css);

.video {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  margin: 100px auto 0;
  padding: 0;
  list-style-type: none;
}
