.footer__author {
  margin: 18px 0;
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

.footer__author:hover {
  opacity: .4;
  transition: 0.6s linear;
}
