@import url(__triangle/kaufman__triangle.css);
.kaufman {
  background-color: #1f1f1f;
  position: relative;
  margin: 0;
  align-items: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  padding-bottom: 90px;

}

/* Псевдоэлементом добавить и реализовать анимицию не получилось
.kaufman__triangle1 {
  background-image: url(../../images/kaufman-triangle.svg);
  background-size: 877px 877px;
  background-position: right -270px top;
  background-repeat: no-repeat;
  z-index: 20;

  position: absolute;

}*/
